<!--
    detail
    이정인
    20.02.19
    
    정윤호
    20.02.22
    임시 테스트

    이정인
    20.02.22
    css 수정 

-->
{% extends 'layout.html' %}
{% block layoutblock %}
<script>
  $(function(){
    $(".fa-trash-alt").click(function(){
      var c = confirm("삭제하시겠습니까?");
      var cid = $(this).attr("no");
      if(c) location.href="/word/delete/"+cid;
    });
 
  });
</script>
<section id="detail">   

    <h2>{{word.title}}</h2>
    <div>
      <a href="{% url 'edit' word.id %}" class="fas fa-edit"></a>
      <a href="#" class="fas fa-trash-alt" no="{{word.id}}"></a> 
    </div>
    <p class="small">{{word.writer}} | {{word.pub_date}}</p> 
    <div>{{word.content}}</div> 
<!--임시 테스트--> 

</section>
{%endblock%}