<!--
    index
    이정인
    20.02.19
-->
{% extends 'layout.html' %}
{% block layoutblock %}

<script>
    $(function(){
      $("tr").click(function(){
        location.href="/word/detail/"+$(this).attr("no");
      });
    });
</script> 
<a  href="/word/new/" class="fas fa-pen-square float_btn"></a>
<section id="main">
<article>
    <table>
        <tr>
            <td>단어</td>
            <td>뜻</td>
            <td>등록일자</td>
        </tr>
            {% if page_posts %}
            {% for page_post in page_posts %}
                <tr no="{{page_post.id}}">
                   
                <!--
                    정윤호
                    20.02.22
                    임시 테스트 
                
                    <h2>홈화면</h2>
                    <a href="{% url 'new' %}">글쓰기</a>
                    <h2>단어명 : {{page_post.title}}</h2>
                    <p>작성날짜 : {{page_post.pub_date}}</p>
                    <p>작성자 : {{page_post.writer}}</p>
                    <p>내용 : {{page_post.summary}}...<a href="{% url 'detail' page_post.id %}">more</a></p>
               
                -->
                    <td>{{page_post.title}}</td>
                    <td>{{page_post.summary}}</td>
                    <td><i>{{page_post.pub_date | date:"Y-m-d" }}</i></td> 
                </tr>
            {% endfor %} 
            {% else %}
            <tr>
                <td colspan="3">
                    결과가 없습니다.
                </td>
            </tr>
            {%endif%} 
            
    </table>
    <ul class="paging"> 
        {%if page_posts.has_previous%}
                <li><a href="?page={{page_posts.previous_page_number}}" class="fas fa-arrow-left"></a></li>
        {%endif%}
        {%for i in page_posts.paginator.page_range%}
                {% if i == page_posts.number%}
                <li><a href="?page={{i}}" class="active">{{i}}</a></li>
                {%else%}
                <li><a href="?page={{i}}">{{i}}</a></li>
                {%endif%}
        {%endfor%}

        {%if page_posts.has_next%}
        <li><a href="?page={{page_posts.next_page_number}}" class="fas fa-arrow-right"></a></li> 
        {%endif%} 
    </ul> 
</article>


</section>

{% endblock %}
