<!--
    index
    이정인
    20.02.19
-->
{% extends 'layout.html' %}
{% block layoutblock %}

<script>
    $(function(){
      $("tr").click(function(){
        location.href="/word/detail/"+$(this).attr("no");
      });
    });
</script> 
<a  href="/word/new/" class="fas fa-pen-square float_btn"></a>
<section id="main">
<article>
    <table>
        <tr>
            <td>단어</td>
            <td>뜻</td>
            <td>등록일자</td>
        </tr>
            {% if words %}
            {% for word in words.all %}
                <tr no="{{word.id}}">
                   
                <!--
                    정윤호
                    20.02.22
                    임시 테스트 
                
                    <h2>홈화면</h2>
                    <a href="{% url 'new' %}">글쓰기</a>
                    <h2>단어명 : {{word.title}}</h2>
                    <p>작성날짜 : {{word.pub_date}}</p>
                    <p>작성자 : {{word.writer}}</p>
                    <p>내용 : {{word.summary}}...<a href="{% url 'detail' word.id %}">more</a></p>
               
                -->
                    <td>{{word.title}}</td>
                    <td>{{word.summary}}</td>
                    <td><i>{{word.pub_date | date:"Y-m-d" }}</i></td> 
                </tr>
            {% endfor %} 
            {% else %}
            <tr>
                <td colspan="3">
                    결과가 없습니다.
                </td>
            </tr>
            {%endif%} 
            
    </table>
   
</article>


</section>

{% endblock %}
