{% extends 'layout.html' %}
{% block layoutblock %}

<section>
    <nav>
        <form action="">
            <ul>
                <li>
                    <input type="text" name="seacrch" id="search" class="inp">
                </li>
                <li>
                    <input type="submit" value="검색" class="btn">
                </li>
            </ul>
        </form>
    </nav>
    <article>
        <a href="#" class="container">
            틀딱
        </a>
        <a href="#" class="container">
            틀딱
        </a> 
        <a href="#" class="container">
            틀딱
        </a> 
        <a href="#" class="container">
            틀딱
        </a> 
        <a href="#" class="container">
            틀딱
        </a>  
    </article>
</section>
{% endblock %}
