<!--
    layout
    이정인
    20.02.19
-->
<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css?{% now 'U' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB --> 
    <title>일베용어사전</title>
</head>
<body>
    <header>
        <a href="/">일베용어사전</a>
    </header>
    
    {% block layoutblock %}
    {% endblock %}  
    <footer>
        이정인<br/>
        이대현<br/>
        정윤호<br/>
        장세범<br/>
        이희주
    </footer>
</body>
</html>