<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css?{% now 'U' %}"/>
    <title>일베용어사전</title>
</head>
<body>
    <header>
        일베용어사전 
    </header>
    
    {% block layoutblock %}
    {% endblock %}  
    <footer>
        이정인
        이대현
        정윤호
        장세범
        이희주
    </footer>
</body>
</html>