@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Song+Myung&display=swap');
*{
   font-family: 'Song Myung', sans-serif;
   --basic-br-color:#eeeeee; /*기본 border 색깔 변수*/
   --basic-txt-color:#333;/*기본 글자 색깔 변수*/  
   color:var(--basic-txt-color); 
   padding:0;
   margin:0;
}
/* 스크롤  */
body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-track {background-color:#ffffff;}
body::-webkit-scrollbar-thumb {background-color:rgba(54, 54, 54, 0.692);border-radius: 10px;}
body::-webkit-scrollbar-thumb:hover {background: rgba(133, 133, 133, 0.603);}
body::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
display:none;}  

a{
    text-decoration: none;
    color:var(--basic-txt-color);
}

body{ 
 width: 100%;
 height:100%;
} 
ul{
    list-style:none;
    width:100%;
    display:block;
}
header{
 display:block;
 padding:15px 5%; 
 text-align: center;
 width:90%;
 position: fixed;
 background: #ffffffce;
 top:0; 
 z-index: 1000;
}
header div:nth-child(1){
    display:block;
}
header div:nth-child(2){
    display:none;
}
header a{
    color:var(--basic-txt-color);
    font-size: 2em;
    font-weight: bold;
    clear:right;     
} 
header i{
    float:right;   
    font-size: 2em;
    cursor: pointer;
    margin-top:10px;
} 
header form{
    width:82%;
    display:inline-block;
    margin:auto;
    margin-left:6%;
}
header form input{
    border:0px; 
    width:100%;  
    padding:10px 0px;
    font-size: 1.5em;
    background:transparent;
}
header form input:focus {outline:none;}
 
footer{
    font-family: 'Nanum Gothic Coding';
    display:block;
    padding:10px 0px 10px 0px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    background-color: #6ca9fa;
}
footer div{
    margin-left:10%;
    padding:5px 0px;
}
footer div,footer h3{ 
    color:rgb(255, 230, 0);
}
section{
    display:block;
    width:80%;
    min-height:500px;  
    margin:auto;
    margin-top:6%;
    padding:30px 0px 30px 0px;  
}


/*************Class ***********************/ 
.inline{
    display:inline-block;
}
.des{
    margin-top:15px;
    font-size: 0.8em;
}
#main article{
    display:block;
    width:100%;
}
#main table{
    display: block;
    width:100%; 
}
#main td{
    padding:15px;
    border-bottom: 1px solid var(--basic-br-color);   
    font-size: 1em;
    color:var(--basic-txt-color); 
    cursor: pointer;
}
#main i{
    font-size: 0.8em;
    color: #ccc;
    font-style: normal;
}
 
#main tr:nth-child(1) td{
    font-weight: bold;
    font-size: 1.2em;
    cursor:unset;
} 
 
#main td:nth-child(1){
    width:20%;  
}
#main td:nth-child(2){
    width:60%;
}
#main td:nth-child(3){
    width:10%; 
}
 
.inp{
    border:1px solid var(--basic-br-color);
    border-radius: 3px;
    padding:10px;
}
.btn{
    border:0px;
    padding:7px;
    border-radius:5px;
    display:block;
    background:#0067ac;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.11);
    color: #ffffff;
}
.btn:hover,.btn:active{
    background:#00497a;
}
.container:hover,.container:active{
    background-color: #eeeeee;
}
.float_btn{
    position: fixed;
    bottom: 23%;
    right:3%;
    display: block;
    color:var(--basic-txt-color); 
    font-size:5em;     
    z-index: 10001; 
}
.fas:hover,.fas:hover,.far:hover,.far:hover{
    color: #43D1AF;
}
.small{
    font-size: 0.8em;
    color:#aaa;
    float:right;
    display: block;
    padding:10px 5px;
}
.paging{
    display: block;
    width:80%;
    margin:15px auto;
    text-align: center;
}
.paging li{
    display: inline-block;
    font-size: 1.5em;
    padding:15px; 
}
.active{ 
    color:#43D1AF; 
}
/******************* detail ****************************/
#detail h1, #detail div{ 
    clear:right;
} 
 
#detail div:nth-child(2){ 
    width:10%; 
    position: absolute;
    left:20%;
    margin-top:-30px;
    font-size: 1.5em;
} 
#detail div:nth-child(4){
    border-top:1px solid var(--basic-br-color);
    padding-top:15px;
}


.new{
	max-width: 50%; 
	padding: 16px;
}

.new h1{
	background: #43D1AF;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.new .inp{
    -webkit-transition: all 0.30s ease-in-out;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.new .btn{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}